[Unit]
Description=CAS Auth client
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/vpn/go/src/cas-auth-go/main -url https://cas.shmtu.edu.cn/cas

[Install]
WantedBy=multi-user.target
